aside
  width 100%
  height 100vh
  position fixed
  float left
  background-color $grey
  transform translateX(-100%)
  +above(l)
    width 80px
    position static
    border-right 1px solid $red
    transform none

  &.is-active
    transform translateX(0)
    +above(l)
      width 200px
    +above(xl)
      width 300px

    ul
      li
        text-align left
          
        span
          +above(l)
            display inline-block

  ul
    width 100%

    li
      position relative
      white-space nowrap
      +above(l)
        text-align center

      &:hover
      &.is-active
        background-color $blue

      &.is-active::before
        content ''
        width 5px
        height 100%
        position absolute
        top 0
        left 0
        background-color $cyan

        a
          span
          svg
            color $salmon

      a
        display block
        padding 25px

        svg
        span
          display inline-block
          vertical-align middle
          color $purple

        svg
          width 20px
          height 20px
          +above(xl)
            width 30px
            height 30px

        span
          position relative
          padding-left 20px
          margin-left 20px
          font-size rem(12px)
          font-weight 300
          text-transform uppercase
          +above(l)
            display none

          &:before
            content ''
            width 1px
            height 30px
            position absolute
            top 50%
            left 0
            background-color $blue
            transform translateY(-50%)