$black = #21222C
$grey = #44475A
$grey-light = #F8F8F2
$white = #FFFFFF
$blue = #6272A4
$red = #FF5555
$green = #69FF94
$salmon = #FF79C6
$purple = #BD93F9
$cyan = #A4FFFF
$yellow = #FCDB35

colors = { 
  black: $black,
  grey: $grey,
  grey-light: $grey-light,
  white: $white,
  blue: $blue,
  red: $red,
  green: $green,
  salmon: $salmon,
  purple: $purple,
  cyan: $cyan,
  yellow: $yellow,
  default: $red
}

for key, value in colors
  .bg-{key}
    background-color value

  .c-{key}
    color value